[submodule "FractalCore"]
	path = FractalCore
	url = https://github.com/Fractal-Compute-Orchestrations/FractalCore.git

[submodule "FractalApp/FractalAndroid"]
	path = FractalApp/FractalAndroid
	url = https://github.com/Fractal-Compute-Orchestrations/FractalAndroid.git